<a href="https://colab.research.google.com/github/EmersonFranca/IDH_Atlas/blob/master/Analise_Exploratoria/1_Analise_Exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# 2. Versões das bibliotecas importadas

In [7]:
print(pd.__version__)
print(np.__version__)
print(sns.__version__)

1.0.3
1.18.4
0.10.1

# 3. Importando os dados

In [0]:
URL_IDH_1991 = "https://github.com/EmersonFranca/IDH_Atlas/blob/master/Dados/IDH_1991.csv?raw=true"
URL_IDH_2000 = "https://github.com/EmersonFranca/IDH_Atlas/blob/master/Dados/IDH_2000.csv?raw=true"
URL_IDH_2010 = "https://github.com/EmersonFranca/IDH_Atlas/blob/master/Dados/IDH_2010.csv?raw=true"

In [0]:
dfIDH_2000 = pd.read_csv(URL_IDH_2000,sep=';')

In [10]:
dfIDH_2000.head()

    ANO  UF  Codmun6  Codmun7  ...   IDHM IDHM_E IDHM_L IDHM_R
0  2000  11   110001  1100015  ...  0,483  0,262  0,698  0,617
1  2000  11   110002  1100023  ...  0,556  0,343  0,742  0,674
2  2000  11   110003  1100031  ...  0,488  0,284  0,677  0,604
3  2000  11   110004  1100049  ...  0,567  0,377  0,745  0,650
4  2000  11   110005  1100056  ...  0,542  0,338  0,704  0,668

[5 rows x 237 columns]

# 4. Comparando com os outros anos

In [0]:
dfIDH_1991 = pd.read_csv(URL_IDH_1991,sep=';')
dfIDH_2010 = pd.read_csv(URL_IDH_2010,sep=';')

In [0]:
colunas_idh = ['IDHM', 'IDHM_E', 'IDHM_L', 'IDHM_R']

In [22]:
dfIDH_1991['IDHM'].unique()

array(['0,329', '0,432', '0,309', '0,407', '0,386', '0,376', '0,203',
       '0,425', '0,388', '0,468', '0,352', '0,433', '0,286', '0,272',
       '0,382', '0,412', '0,495', '0,348', '0,259', '0,383', '0,289',
       '0,498', '0,252', '0,336', '0,313', '0,241', '0,269', '0,325',
       '0,199', '0,283', '0,293', '0,366', '0,221', '0,281', '0,237',
       '0,217', '0,349', '0,277', '0,254', '0,270', '0,228', '0,174',
       '0,280', '0,284', '0,232', '0,298', '0,258', '0,226', '0,247',
       '0,230', '0,216', '0,314', '0,267', '0,183', '0,398', '0,372',
       '0,170', '0,218', '0,186', '0,265', '0,176', '0,485', '0,245',
       '0,167', '0,354', '0,317', '0,274', '0,306', '0,307', '0,357',
       '0,322', '0,246', '0,300', '0,287', '0,288', '0,305', '0,212',
       '0,268', '0,248', '0,312', '0,355', '0,295', '0,263', '0,243',
       '0,266', '0,296', '0,257', '0,323', '0,408', '0,210', '0,409',
       '0,208', '0,291', '0,187', '0,339', '0,244', '0,521', '0,333',
       '0,356', '0,321', '0,264', '0,414', '0,177', '0,461', '0,353',
       '0,236', '0,206', '0,373', '0,151', '0,290', '0,529', '0,340',
       '0,301', '0,405', '0,249', '0,358', '0,374', '0,278', '0,378',
       '0,324', '0,365', '0,201', '0,250', '0,328', '0,395', '0,197',
       '0,516', '0,238', '0,447', '0,562', '0,311', '0,368', '0,276',
       '0,279', '0,424', '0,179', '0,389', '0,371', '0,326', '0,229',
       '0,194', '0,299', '0,260', '0,209', '0,235', '0,341', '0,327',
       '0,271', '0,242', '0,367', '0,342', '0,401', '0,337', '0,397',
       '0,361', '0,377', '0,222', '0,347', '0,390', '0,332', '0,439',
       '0,335', '0,392', '0,399', '0,391', '0,369', '0,331', '0,421',
       '0,285', '0,330', '0,315', '0,256', '0,282', '0,233', '0,253',
       '0,427', '0,334', '0,262', '0,416', '0,161', '0,320', '0,525',
       '0,319', '0,426', '0,215', '0,380', '0,471', '0,451', '0,318',
       '0,338', '0,297', '0,261', '0,240', '0,346', '0,138', '0,292',
       '0,239', '0,152', '0,418', '0,310', '0,431', '0,316', '0,385',
       '0,189', '0,393', '0,417', '0,497', '0,160', '0,350', '0,224',
       '0,403', '0,147', '0,195', '0,460', '0,302', '0,153', '0,169',
       '0,410', '0,205', '0,488', '0,344', '0,196', '0,148', '0,157',
       '0,255', '0,294', '0,387', '0,190', '0,308', '0,165', '0,184',
       '0,251', '0,175', '0,198', '0,275', '0,181', '0,123', '0,155',
       '0,213', '0,273', '0,444', '0,143', '0,133', '0,149', '0,166',
       '0,192', '0,234', '0,220', '0,526', '0,223', '0,362', '0,231',
       '0,131', '0,156', '0,191', '0,219', '0,214', '0,379', '0,420',
       '0,364', '0,202', '0,185', '0,146', '0,343', '0,200', '0,154',
       '0,227', '0,140', '0,121', '0,120', '0,142', '0,188', '0,436',
       '0,163', '0,141', '0,125', '0,127', '0,173', '0,132', '0,182',
       '0,207', '0,180', '0,345', '0,394', '0,303', '0,509', '0,168',
       '0,150', '0,130', '0,304', '0,381', '0,363', '0,411', '0,360',
       '0,546', '0,370', '0,419', '0,384', '0,406', '0,351', '0,430',
       '0,415', '0,136', '0,499', '0,470', '0,472', '0,429', '0,400',
       '0,572', '0,375', '0,435', '0,396', '0,428', '0,476', '0,172',
       '0,225', '0,551', '0,204', '0,455', '0,404', '0,448', '0,481',
       '0,548', '0,466', '0,520', '0,445', '0,561', '0,554', '0,576',
       '0,359', '0,507', '0,211', '0,545', '0,423', '0,452', '0,193',
       '0,422', '0,413', '0,453', '0,474', '0,467', '0,563', '0,402',
       '0,450', '0,449', '0,442', '0,441', '0,553', '0,536', '0,443',
       '0,477', '0,549', '0,459', '0,434', '0,478', '0,491', '0,541',
       '0,493', '0,602', '0,575', '0,492', '0,456', '0,437', '0,469',
       '0,501', '0,457', '0,446', '0,465', '0,479', '0,489', '0,505',
       '0,494', '0,534', '0,538', '0,512', '0,486', '0,473', '0,464',
       '0,454', '0,537', '0,503', '0,535', '0,440', '0,518', '0,482',
       '0,438', '0,475', '0,483', '0,508', '0,532', '0,513', '0,519',
       '0,490', '0,550', '0,514', '0,594', '0,511', '0,458', '0,480',
       '0,523', '0,564', '0,487', '0,462', '0,484', '0,506', '0,581',
       '0,577', '0,524', '0,500', '0,522', '0,510', '0,583', '0,574',
       '0,591', '0,517', '0,515', '0,611', '0,644', '0,527', '0,463',
       '0,502', '0,552', '0,543', '0,565', '0,681', '0,560', '0,639',
       '0,528', '0,580', '0,592', '0,558', '0,559', '0,634', '0,609',
       '0,578', '0,569', '0,590', '0,607', '0,573', '0,597', '0,557',
       '0,603', '0,540', '0,544', '0,539', '0,588', '0,531', '0,542',
       '0,504', '0,618', '0,582', '0,556', '0,530', '0,568', '0,555',
       '0,598', '0,496', '0,635', '0,579', '0,547', '0,533', '0,567',
       '0,601', '0,566', '0,570', '0,571', '0,623', '0,626', '0,584',
       '0,630', '0,689', '0,642', '0,697', '0,620', '0,585', '0,610',
       '0,600', '0,640', '0,608', '0,612', '0,589', '0,586', '0,660',
       '0,616'], dtype=object)